{% load static %} 

  <!DOCTYPE html>
  <html lang="en-US">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Eleganter - New Amazing HTML5 Template</title>
      <link rel="stylesheet" href="{% static "css/components.css" %}">
      <link rel="stylesheet" href="{% static "css/icons.css" %}">
      <link rel="stylesheet" href="{% static "css/responsee.css" %}">
      <link rel="stylesheet" href="{% static "owl-carousel/owl.carousel.css" %}">
      <link rel="stylesheet" href="{% static "owl-carousel/owl.theme.css" %}">     
      <link rel="stylesheet" href="{% static "css/template-style.css" %}">
      <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="{% static "js/jquery-1.8.3.min.js" %}"></script>
      <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>      
    </head>
    
    <body class="size-1140">
      <!-- PREMIUM FEATURES BUTTON -->
      <a target="_blank" class="hide-s" href="{% url "premium"}" style="position:fixed;top:120px;right:-14px;z-index:10;">
        <img src="{% static "img/premium-features.png" %}" alt=""></a>
      <!-- HEADER -->
      <header role="banner" class="position-absolute">    
        <!-- Top Navigation -->
        <nav class="background-transparent background-transparent-hightlight full-width sticky">
          <div class="s-12 l-2">
            <a href="{% url 'index' %}" class="logo">
              <!-- Logo White Version -->
              <img class="logo-white" src="{% static "img/logo.png" %}" alt="">
              <!-- Logo Dark Version -->
              <img class="logo-dark" src="{% static "img/logo-dark.png" %}" alt="">
            </a>
          </div>
          <div class="top-nav s-12 l-10">
            
            <ul class="right chevron">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'products' %}">Products</a></li>
              <li><a>Services</a>
                <ul>
                  <li><a>Service 1</a>
                    <ul>
                      <li><a>Service 1 A</a></li>
                      <li><a>Service 1 B</a></li>
                    </ul>
                  </li>
                  <li><a>Service 2</a></li>
                </ul>
              </li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'gallery' %}">Gallery</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
              <li><a href="{% url 'premium' %}">Premium</a></li>
            </ul>
          </div>
        </nav>
      </header>
      
      {% block home_template %} {% endblock %}
      {% block about_template %}{% endblock %}
      {% block contact_template %}{% endblock %}
      {% block gallery_template %}{% endblock %}
      {% block premium_template %}{% endblock %}
      {% block products_template %}{% endblock %}


      <!-- FOOTER -->
      <footer>
        <!-- Contact Us -->
        <div class="background-primary padding text-center">
          <p class="h1">{{contact_us_main.title}}</p>                                                                        
        </div>
        
        <!-- Main Footer -->
        <section class="background-dark full-width">
          <!-- Map -->
          <div class="s-12 m-12 l-6 margin-m-bottom-2x">
            <div class="s-12 grayscale center">  	  
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1459734.5702753505!2d16.91089086619977!3d48.577103681657675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssk!2ssk!4v1457640551761" width="100%" height="450" frameborder="0" style="border:0"></iframe>
            </div>
          </div>
          
          <!-- Collumn 2 -->
          <div class="s-12 m-12 l-6 margin-m-bottom-2x">
            <div class="padding-2x">
              <div class="line">              
                <div class="float-left">
                    <i class="{{address.icon_class}}"></i>
                  </div>
                  <div class="margin-left-70 margin-bottom-30">
                    <h3 class="margin-bottom-0">{{address.title}}</h3>
                    <p>{{address.description1}}<br>
                      {{address.description2}}
                    </p>               
                  </div>
                  <div class="float-left">
                    <i class="{{email.icon_class}}"></i>
                  </div>
                  <div class="margin-left-70 margin-bottom-30">
                    <h3 class="margin-bottom-0">{{email.title}}</h3>
                    <p>{{email.description1}}<br>
                      {{email.description2}}
                    </p>              
                  </div>
                  <div class="float-left">
                    <i class="{{phone.icon_class}}"></i>
                  </div>
                  <div class="margin-left-70">
                    <h3 class="margin-bottom-0">{{phone.title}}</h3>
                    <p>{{phone.phone_namber1}}<br>
                      {{phone.phone_namber2}}<br>
                      {{phone.phone_namber3}}
                    </p>             
                  </div>
              </div>
            </div>
          </div>  
        </section>
        <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 38, 51, 0.80);">
        
        <!-- Bottom Footer -->
        <section class="padding background-dark full-width">
          <div class="s-12 l-6">
            <p class="text-size-12">{{footer_text.text1}}</p>
            <p class="text-size-12">{{footer_text.text2}}</p>
          </div>
          <div class="s-12 l-6">
            <a class="right text-size-12" href="{{footer_text.link_url}}" title="Responsee - lightweight responsive framework">
              {{footer_text.link_name1}}<br> {{footer_text.link_name2}}</a>
          </div>
        </section>
      </footer>
      <script type="text/javascript" src="{% static "js/responsee.js" %}"></script>
      <script type="text/javascript" src="{% static "owl-carousel/owl.carousel.js" %}"></script>
      <script type="text/javascript" src="{% static "js/template-scripts.js" %}"></script>
    </body>
  </html>