{% extends "base.html" %}
{% load static %}    
  
  <!DOCTYPE html>
  <html lang="en-US">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Eleganter - New Amazing HTML5 Template</title>
      <link rel="stylesheet" href="{% static "css/components.css" %}">
      <link rel="stylesheet" href="{% static "css/icons.css" %}">
      <link rel="stylesheet" href="{% static "css/responsee.css" %}">
      <link rel="stylesheet" href="{% static "owl-carousel/owl.carousel.css" %}">
      <link rel="stylesheet" href="{% static "owl-carousel/owl.theme.css" %}">     
      <link rel="stylesheet" href="{% static "css/template-style.css" %}">
      <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="{% static "js/jquery-1.8.3.min.js" %}"></script>
      <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>          
    </head>
    
    <body class="size-1140">
      <!-- PREMIUM FEATURES BUTTON -->
      <a target="_blank" class="hide-s" href="{% static "../template/eleganter-premium-responsive-business-template/" %}" style="position:fixed;top:120px;right:-14px;z-index:10;">
        <img src="{% static "img/premium-features.png" %}" alt=""></a>
      <!-- HEADER -->
      <header role="banner" class="position-absolute">    
        <!-- Top Navigation -->
        <nav class="background-transparent background-transparent-hightlight full-width sticky">
          <div class="s-12 l-2">
            <a href="{% url 'index' %}" class="logo">
              <!-- Logo White Version -->
              <img class="logo-white" src="{% static "img/logo.png" %}" alt="">
              <!-- Logo Dark Version -->
              <img class="logo-dark" src="{% static "img/logo-dark.png" %}" alt="">
            </a>
          </div>
          <div class="top-nav s-12 l-10">
            
            <ul class="right chevron">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'products' %}">Products</a></li>
              <li><a>Services</a>
                <ul>
                  <li><a>Service 1</a>
                    <ul>
                      <li><a>Service 1 A</a></li>
                      <li><a>Service 1 B</a></li>
                    </ul>
                  </li>
                  <li><a>Service 2</a></li>
                </ul>
              </li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'gallery' %}">Gallery</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </div>
        </nav>
      </header>
      
      {% block contact_template %} 
        <!-- MAIN -->
        <main role="main">
          <!-- Content -->
          <article>
            <header class="section background-dark">
              <div class="line">        
                <h1 class="text-white margin-top-bottom-40 text-size-60 text-line-height-1">{{contact.title}}</h1>
                <p class="margin-bottom-0 text-size-16">{{contact.description1}}<br>
                  {{contact.description2}}</p>
              </div>  
            </header>
            <div class="section background-white"> 
              <div class="line margin-bottom-60">
                <div class="margin">
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered border-radius">
                      <div class="float-left hide-s">
                        <i class="{{contact_address.icon_class}}"></i>
                      </div>
                    <div class="margin-left-70 margin-s-left-0 margin-bottom">
                      <h3 class="margin-bottom-0">{{contact_address.title}}</h3>
                      <p>{{contact_address.description1}}<br>
                        {{contact_address.description2}}
                      </p>               
                    </div>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered border-radius">
                      <div class="float-left hide-s">
                        <i class="{{contact_email.icon_class}}"></i>
                      </div>
                      <div class="margin-left-70 margin-s-left-0 margin-bottom">
                        <h3 class="margin-bottom-0">{{contact_email.title}}</h3>
                        <p>{{contact_email.description1}}<br>
                          {{contact_email.description2}}
                        </p>              
                      </div>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x block-bordered border-radius">
                      <div class="float-left hide-s">
                        <i class="{{contact_phone.icon_class}}"></i>
                      </div>
                      <div class="margin-left-70 margin-s-left-0">
                        <h3 class="margin-bottom-0"> {{contact_phone.title}}</h3>
                        <p><span class="text-primary">{{contact_phone.phone_number1}}</span><br>
                          <p>{{contact_phone.phone_number2}}<br>
                            {{contact_phone.phone_number3}}
                        </p>             
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="line">
                <div class="margin">
                  <!-- Contact Form -->
                  <div class="s-12 m-12 l-6">
                    <h2 class="margin-bottom-10">Leave Message</h2>
                    <form name="contactForm" class="customform" method="post">
                      <div class="line">
                        <div class="margin">
                          <div class="s-12 m-12 l-6">
                            <input name="email" class="required email" placeholder="Your e-mail" title="Your e-mail" type="text" />
                            <p class="email-error form-error">Please enter your e-mail.</p>
                          </div>
                          <div class="s-12 m-12 l-6">
                            <input name="name" class="name" placeholder="Your name" title="Your name" type="text" />
                            <p class="name-error form-error">Please enter your name.</p>
                          </div>
                        </div>
                      </div>
                      <div class="s-12"> 
                        <input name="subject" class="subject" placeholder="Subject" title="Subject" type="text" />
                        <p class="subject-error form-error">Please enter the subject.</p>
                      </div>
                      <div class="s-12">
                        <textarea name="message" class="required message" placeholder="Your message" rows="3"></textarea>
                        <p class="message-error form-error">Please enter your message.</p>
                      </div>
                      <div class="s-12"><button class="s-12 submit-form button background-primary text-white" type="submit">Submit Button</button></div>
                    </form>
                  </div>
                  <div class="s-12 m-12 l-4">
                    <h2 class="margin-bottom-10">{{opening_hours.title}}</h2>
                    <div class="s-6">
                      <p class="text-size-16">
                        {{opening_hours.days1}}<br>
                        {{opening_hours.days2}}<br>
                        {{opening_hours.days3}}<br>
                        {{opening_hours.days4}}<br>
                        {{opening_hours.days5}}<br>
                        {{opening_hours.days6}}<br>
                        {{opening_hours.close_day}}
                      </p>
                    </div>
                    <div class="s-6">
                      <p class="text-size-16 text-strong">
                        {{opening_hours.open_time1}}<br>
                        {{opening_hours.open_time2}}<br>
                        {{opening_hours.open_time3}}<br>
                        {{opening_hours.open_time4}}<br>
                        {{opening_hours.open_time5}}<br>
                        {{opening_hours.open_time6}}<br>
                        {{opening_hours.close_time}}
                      </p>
                    </div>
                  </div>
                </div>    
              </div>  
            </div> 
          </article>
        </main>

      {% endblock %}
    </body>
  </html>