{% extends "base.html" %}
{% load static %}

 <!DOCTYPE html>
  <html lang="en-US">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Eleganter - New Amazing HTML5 Template</title>
      <link rel="stylesheet" href="{% static "css/components.css" %}">
      <link rel="stylesheet" href="{% static "css/icons.css" %}">
      <link rel="stylesheet" href="{% static "css/responsee.css" %}">
      <link rel="stylesheet" href="{% static "owl-carousel/owl.carousel.css" %}">
      <link rel="stylesheet" href="{% static "owl-carousel/owl.theme.css" %}">     
      <link rel="stylesheet" href="{% static "css/template-style.css" %}">
      <link href='https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="{% static "js/jquery-1.8.3.min.js" %}"></script>
      <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>      
    </head>
    
    <body class="size-1140">
      <!-- PREMIUM FEATURES BUTTON -->
      <a target="_blank" class="hide-s" href="{% static "../template/eleganter-premium-responsive-business-template/" %}" style="position:fixed;top:120px;right:-14px;z-index:10;">
        <img src="{% static "img/premium-features.png" %}" alt=""></a>
      <!-- HEADER -->
      <header role="banner" class="position-absolute">    
        <!-- Top Navigation -->
        <nav class="background-transparent background-transparent-hightlight full-width sticky">
          <div class="s-12 l-2">
            <a href="{% url 'index' %}" class="logo">
              <!-- Logo White Version -->
              <img class="logo-white" src="img/logo.png" alt="">
              <!-- Logo Dark Version -->
              <img class="logo-dark" src="img/logo-dark.png" alt="">
            </a>
          </div>
          <div class="top-nav s-12 l-10">
            
            <ul class="right chevron">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'products' %}">Products</a></li>
              <li><a>Services</a>
                <ul>
                  <li><a>Service 1</a>
                    <ul>
                      <li><a>Service 1 A</a></li>
                      <li><a>Service 1 B</a></li>
                    </ul>
                  </li>
                  <li><a>Service 2</a></li>
                </ul>
              </li>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'gallery' %}">Gallery</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
          </div>
        </nav>
      </header>
      
      {% block products_template %}
        <!-- MAIN -->
        <main role="main">
          <!-- Content -->
          <article>
            <header class="section background-dark">
              <div class="line">        
                <h1 class="text-white margin-top-bottom-40 text-size-60 text-line-height-1">{{products.title1}}</h1>
                <p class="margin-bottom-0 text-size-16">{{products.description1}}<br>
                  {{products.description2}}</p>
              </div>  
            </header>
            <section class="section background-white">
              <div class="line">
                <h2 class="text-size-40 margin-bottom-30">{{products.title2}}</h2>
                <hr class="break-small background-primary margin-bottom-30">
                <p class="margin-bottom-40">
                  {{products.description3}}
                </p>
              </div>   
              <div class="line text-center">
                <div class="margin">
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x background-primary">
                      <i class="{{products_blocks.0.icon_class}}"></i>
                      <h2 class="text-thin">{{products_blocks.0.title}}</h2>
                      <p class="margin-bottom-30">{{products_blocks.0.description}}</p>
                      <a class="button button-white-stroke text-size-12" href="/">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x background-primary">
                      <i class="{{products_blocks.1.icon_class}}"></i>
                      <h2 class="text-thin">{{products_blocks.1.title}}</h2>
                      <p class="margin-bottom-30">{{products_blocks.1.description}}</p>
                      <a class="button button-white-stroke text-size-12" href="/">GET MORE INFO</a>
                    </div>
                  </div>
                  <div class="s-12 m-12 l-4 margin-m-bottom">
                    <div class="padding-2x background-primary">
                      <i class="{{products_blocks.2.icon_class}}"></i>
                      <h2 class="text-thin">{{products_blocks.2.title}}</h2>
                      <p class="margin-bottom-30">{{products_blocks.2.description}}</p>
                      <a class="button button-white-stroke text-size-12" href="/">GET MORE INFO</a>
                    </div>
                  </div>
                </div>
              </div>
            </section> 
          </article>
        </main>
      
     
      {% endblock %}
    </body>
  </html>